/recursividadClase2/nbproject/private/
/Problema-7_Automotor/nbproject/private/
/materiaEstDiscrtArrays/nbproject/private/
/materiaEstDiscrtArrays/build/
/Problema-7_Automotor/build/
/POO/nbproject/private/
/POO2/nbproject/private/
/POO2/build/
/TestTerren/nbproject/private/
/TestTerreno/nbproject/private/
/TestTerreno/build/
/punto/nbproject/private/
/GestionLotes/nbproject/private/
/GestionLotes1/nbproject/private/
/GestionLotes1/build/
/MatricesMulti/nbproject/private/
/MatricesMultid/nbproject/private/
/MatricesMultid/build/
/POOreadingWriting/nbproject/private/
/POOreadingWritin/nbproject/private/
/POOreadingWritin/build/
/EjercicioPelicula/nbproject/private/
/EjercicioPelicula1/nbproject/private/
/EjercicioPelicula1/build/
